SECRET_DIR=.path/to/certs/dir

JWT_ACCESS_SECRET_PATH=$(SECRET_DIR)/access_secret_name.pem
JWT_ACCESS_PUBLIC_PATH=$(SECRET_DIR)/access_public_name.pem
JWT_REFRESH_SECRET_PATH=$(SECRET_DIR)/refresh_secret_name.secret
JWT_ACCESS_TTL=time_with_postfix_h|m|s
JWT_REFRESH_TTL=time_with_postfix_h|m|s