ENV=test|dev|development|production|prod

SECRET_DIR=.path/to/certs/dir

JWT_ACCESS_SECRET_PATH=$(SECRET_DIR)/access_secret_name.pem
JWT_ACCESS_PUBLIC_PATH=$(SECRET_DIR)/access_public_name.pem
JWT_ACCESS_TTL=time_with_postfix_h|m|s
JWT_REFRESH_TTL=time_with_postfix_h|m|s

DB_HOST=host
DB_PORT=1234
DB_USERNAME=username
DB_PASSWORD=password
DB_NAME=name
DB_DRIVER=postgres

REDIS_HOST=host
REDIS_PORT=1234
REDIS_USERNAME=username
REDIS_PASSWORD=password